@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Satisfy&display=swap');
.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin-left: 287px;
   
}
h2{
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size:3rem;
}
/* .about-me{
    width: 50%;
    aspect-ratio: 2/1;
    border-radius: 2rem;
    background:linear-gradient(45deg,transparent, #FF91A4,transparent);
    display: grid;
    place-items:center;
    margin-left: 10rem;
   
} */
section{
    margin-top: 4rem;
}
     /* .about-image{
    border-radius: 2rem;
    width: 25rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: all  400ms ease;
    
     } */
/* .about-image:hover{
    transform: rotate(0deg);
} */
/* .about-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 200px;
    

} */
/* .about-card{
    background-color: #ff1654;
    border:1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
    
} */
/* .about-card:hover{
    background-color:#ff1654;
    color: white;
    cursor: default;
} */
/* .about-icon{
    color: aliceblue;
    font-size: 1.4rem;
    margin-bottom: 1rem;

} */
/* .about-card small{
    font-size: 0.8rem ;
    color: white;
} */
/* .about-card h3{
    font-size: 0.95rem;
} */
.about-content{
    margin: 1rem 15rem;
    text-align: center;
    
} 
.about-content p{
    margin: 1rem auto;
}
/* .about-content .btn-primary{
   margin: ;
} */
/* --------MEDIA QURIES (MEDIUM DEVICES) */

@media screen and (max-width:1024px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
        margin-left: 30px;
    }
    .about-me{
        width: 30%;
        margin: 4rem auto 5rem;

    }
    .about-content p {
        margin: 3rem  -10rem;
    }
   
  }
  
  
  /* --------MEDIA QURIES (SMALL DEVICES) */
  
  @media screen and (max-width:600px) {
    .about-container{
        margin-left: 10px;
    }
    .about-me{
        width: 50%;
        margin: 3rem auto 5rem;
        
    }
    .about-cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }
    /* .about-content{
        text-align: center;
    } */
    .about-content p {
        margin: 1rem -14rem;
    }
    
  }
